@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .expired-stripes {
    background: repeating-linear-gradient(
      135deg,
      #ff1a1a 0 16px,
      #fff 16px 32px
      );

    background-size: 48px 48px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Animate stripes moving */
    animation: stripes-move 1.5s linear infinite;
  }

  @keyframes stripes-move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 48px 48px;
    }
  }
}

@keyframes pulseFadeZoom {
  0% {
    opacity: 0.25;
    transform: scale(0.96);
  }
  50% {
    opacity: 1;
    transform: scale(1.08);
  }
  100% {
    opacity: 0.25;
    transform: scale(0.96);
  }
}

.animate-pulse-fade-zoom {
  animation: pulseFadeZoom 1.8s ease-in-out infinite;
}
